body {
    font-family: 'Anta', 'Courier New', Courier, monospace;
    background-color: rgb(11, 29, 14);
    color: white; 
}

.navbar {
    background-color: rgb(4, 162, 88) !important;
}

.headsec {
    color:rgb(11, 29, 14) !important;
    background-color: rgb(4, 162, 88) !important;
    border-style: solid !important;
    border-color: rgb(4, 162, 88) !important;
    border-width: thin;
}

.bodysec {
    background-color: rgb(11, 29, 14) !important;
    color: white !important;
    border-style: solid !important;
    border-color: rgb(4, 162, 88) !important;
    border-width: thin;
}

.box {
    float: left;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 2px;
    clear: both;
}

.white {
    background-color: white;
}

.bluewhite {
    background-color: lightskyblue;
}

.blue {
    background-color: blue;
}

.yellwhite {
    background-color: palegoldenrod;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.orangered {
    background-color: orangered;
}

.red {
    background-color: red;
}

.save_button {
    width: 20 px;
    height: 20 px;
}

.img-wrapper {
    width: 30px !important;
}

.spacer {
    height: 24px;
}

.vertical-text {
    transform: rotate(-90deg);
    transform-origin: left top 0;
}